<h1>Usuários</h1>
<a href="/usuarios/novo">Novo Usuário</a>
<br /><br />
<p>Lista de usuários cadastrados.</p>
<ul>
  {{#each usuarios}}
    <li>
      {{this.nome}}
      —
      {{this.email}}
      —
      {{this.perfil}}
      —
      {{this.categoriaNome}}
      <a href="/usuarios/{{this.id}}/editar">Editar</a>
      <form
        action="/usuarios/{{this.id}}/excluir"
        method="POST"
        style="display:inline;"
      >
        <button type="submit">Excluir</button>
      </form>
    </li>
  {{/each}}
</ul>